.container {
  border: 1px solid rgb(158, 143, 143);
  border-radius: 10px;
  width: 60%;
  color: white;
  background: linear-gradient(
    rgb(8, 3, 99) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  box-shadow: 5px 5px 6px 3px rgb(217, 205, 205);
  margin-top: 40px;
  padding: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

div.header {
  text-align: center;
  margin-top: 20px;
  display: inline;
}

form {
  margin-left: 10%;
}

.my-loc {
  margin-left: 30px;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content div {
  text-align: center;
  margin-top: 30px;
}

#city-name {
  font-size: 30px;
  font-weight: bolder;
  text-transform: capitalize;
}

#time-now {
  color: rgb(193, 180, 180);
  margin-top: -15px;
}

.temp-degree {
  position: relative;
  width: 60%;
  font-weight: bolder;
  font-size: 55px;
  margin: 40px auto;
  cursor: pointer;
  user-select: none;
}

.temp-degree a {
  text-decoration: none;
  color: white;
}

sup#unit {
  font-weight: normal;
}

#temp-desc {
  position: relative;
  font-size: 25px;
  top: -20px;
}

.temp-percent {
  padding-top: 6%;
  padding-left: 10%;
  text-align: left !important;
}

#wind {
  font-size: 17px;
  color: rgb(192, 210, 204);
  display: block;
}

#humidity {
  font-size: 17px;
  color: rgb(192, 210, 204);
  display: block;
}

.days {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.day-of-week {
  border: 1px solid rgb(240, 236, 236);
  border-radius: 5px;
}

.weath-pic {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.day-name {
  display: block;
  text-align: center;
  padding-bottom: 10px;
  font-size: 16px;
}

.deg {
  display: block;
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
}

footer {
  width: 60%;
  margin: 0 auto;
}

#github_link {
  display: block;
  text-align: left;
  font-size: small;
  color: rgb(131, 129, 129);
  font-style: italic;
  margin-top: 10px;
}
