.container {
  position: relative;
  border: 1px solid rgb(158, 143, 143);
  border-radius: 10px;
  width: 60%;
  box-shadow: 5px 5px 6px 3px rgb(217, 205, 205);
  margin-top: 40px;
  padding: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.theme {
  position: absolute;
  width: 4%;
  padding: 0;
  top: 10px;
  cursor: pointer;
}

#theme-change {
  width: 40px;
  height: 40px;
}

.my-loc {
  width: 30px;
  height: 35px;
  cursor: pointer;
  margin-left: 30px;
}

.submit-div {
  width: 150px;
}

.submit {
  width: 80%;
}

.submit:enabled {
  background-color: #0d6efd;
  color: white;
}

.form {
  width: 88%;
}

.form div {
  margin-left: 10px;
}

.content {
  display: flex;
  justify-content: start;
}

.content div {
  text-align: center;
  margin-top: 30px;
}

.city-info {
  justify-content: center;
}

#city-name {
  font-size: clamp(1rem, 3.5vw, 2.5rem);
  font-weight: bolder;
  text-transform: capitalize;
}

#time-now {
  color: rgb(52, 48, 48);
  margin-top: -15px;
}

.temp-degree {
  position: relative;
  width: 60%;
  font-weight: bolder;
  font-size: 3vw;
  margin: 40px auto;
  cursor: pointer;
  user-select: none;
}

.temp-degree a {
  text-decoration: none;
  color: white;
}

sup#unit {
  color: black;
  font-weight: bold;
}

.group {
  justify-content: space-around;
  flex-grow: 1;
}

#temp-desc {
  color: rgb(15, 105, 137);
  position: relative;
  font-size: 25px;
  top: -20px;
  text-transform: capitalize;
}

.temp-icon {
  flex-grow: 1;
}

.temp-icon img {
  width: 75%;
  height: 75%
}

.temp-percent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: left !important;
  padding: 70px 0 70px 0;
}

#wind {
  width: max-content;
  font-size: 17px;
  color: rgb(30, 30, 148);
  align-self: center;
}

#humidity {
  width: max-content;
  font-size: 17px;
  color: rgb(30, 30, 148);
  align-self: center;
}

#hobbies {
  margin-top: auto;
}

#hobbies span img {
  width: 2vw;
  height: 2vw;
}

.days {
  color: rgb(8, 73, 104);
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.day-of-week {
  width: 15.5%;
  border: 1px solid rgb(240, 236, 236);
  border-radius: 5px;
  padding: 5px 0 5px 0;
}

.weath-pic {
  width: 7vw;
  height: 55%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.day-name {
  display: block;
  text-align: center;
  padding-bottom: 10px;
  font-size: 16px;
}

.deg {
  display: block;
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
  margin-bottom: 0;
}

footer {
  width: 60%;
  margin: 0 auto;
}

#github_link {
  display: block;
  text-align: left;
  font-size: small;
  color: rgb(131, 129, 129);
  font-style: italic;
  margin-top: 10px;
}

/* Dark/light mode: */
.dark {
  color: white;
}

.light {
  color: black;
}

.darkGradient {
  background: linear-gradient(rgb(8, 3, 99) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%);
}

.lightGradient {
  background: linear-gradient(rgb(207, 231, 255) 0%,
      rgb(111, 183, 216) 35%,
      rgb(99, 124, 237) 100%);
}

/* For mobile phones: */
@media screen and (max-width: 768px) {
  .container {
    width: fit-content;
  }

  #theme-change {
    width: 2rem;
    height: 2rem;
  }

  #city {
    font-size: small;
  }

  .form div {
    margin-bottom: 15px;
    margin-left: 0;
  }

  .my-loc {
    margin-left: 5px;
    width: 1.5rem;
    height: 1.5rem;
  }

  .submit-div {
    width: 50px;
  }

  .submit {
    width: 2rem;
    height: 2rem;
    font-size: 0.7rem;
    padding: 0;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .city-info {
    align-items: center;
  }

  #time-now {
    font-size: 0.7rem;
    width: max-content;
  }

  .content div,
  .temp-degree,
  .temp-percent {
    margin: 0;
  }

  .temp-degree {
    font-size: 2rem;
    width: fit-content;
  }

  .temp-percent {
    padding: 0;
    align-self: start;
  }

  #wind,
  #humidity,
  .day-name,
  .deg {
    font-size: 2vw;
  }

  .group {
    justify-content: space-around;
    padding-top: 25px;
  }

  .temp-percent {
    padding-top: 10px;
    padding-left: 20%;
  }

  .temp-icon {
    position: relative;
    top: -20px;
  }

  #temp-desc {
    font-size: 3vw;
    top: 0;
  }

  #hobbies {
    width: max-content;
  }

  #hobbies span img {
    width: 1rem;
    height: 1rem;
  }

  .days {
    flex-wrap: wrap;
  }

  .day-of-week {
    margin-bottom: 10px;
    width: 10vw;
  }

  .weath-pic {
    width: 90%;
    height: 80%;
  }

  #github_link {
    font-size: 0.5rem;
    text-align: center;
  }
}